<div class="container">

  <div class="col-xs-6 col-sm-4 text-center">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Funding Reports</h3>
      </div>
      <div class="list-group">
        <a href="fundedLoans" class="list-group-item">Funded Loans</a>
      </div>
      <div class="list-group">
        <a href="loansNotPurchased" class="list-group-item">Loans Not Purchased</a>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Processing Reports</h3>
      </div>
      <div class="list-group">
        <a href="/FundedWOInvestorLock" class="list-group-item">Funded w/o Investor Lock</a>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Reports</h3>
      </div>
      <div class="list-group">
        <a href="logs" class="list-group-item">Logs</a>
      </div>
    </div>
  </div>

</div>
