<div class="container">

  <div class="col-xs-6 col-sm-4 text-center">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Funding Reports</h3>
      </div>
      <div class="list-group">
        <a href="docsDrawn" class="list-group-item">Docs Drawn</a>
      </div>
      <div class="list-group">
        <a href="fundedLoans" class="list-group-item">Funded Loans</a>
      </div>
      <div class="list-group">
        <a href="loansNotPurchased" class="list-group-item">Loans Not Purchased</a>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Processing Reports</h3>
      </div>
      <div class="list-group">
        <a href="/ProcessorActive" class="list-group-item">Processors' Active Files</a>
      </div>
      <div class="list-group">
        <a href="/FundedWOInvestorLock" class="list-group-item">Funded w/o Investor Lock</a>
      </div>
      <div class="list-group">
        <a href="/CTCNotFunded" class="list-group-item">Loans CTC Not Funded</a>
      </div>

    </div>
  </div>

  <div class="col-xs-6 col-sm-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Reports</h3>
      </div>
      <div class="list-group">
        <a href="logs" class="list-group-item">Logs</a>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Servicing Reports</h3>
      </div>
      <div class="list-group">
        <a href="servicing-statements" class="list-group-item">Mortage Statements to Print</a>
      </div>
      <div class="list-group">
        <a href="servicing-collect" class="list-group-item">Payments to Collect</a>
      </div>
      <div class="list-group">
        <a href="servicing-collect" class="list-group-item">Servicing to Collect</a>
      </div>
      <div class="list-group">
        <a href="2016-1098" class="list-group-item">2016 1098 Mortgage Interest Statements</a>
      </div>
    </div>
  </div>

</div>
