<div class="container">
<h1>Logs</h1>

<table id="table" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Event</th>
      <th>Message</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% for( var i = 0; i < logs.length; i++ ) { %>
      <% var t = logs[i].createdAt.toString().split(" "); %>
    <tr>
      <td><%= logs[i].event_name %></td>
      <td><%= logs[i].message %></td>
      <td><%= t[0] + " " + t[1] + " " + t[2] + "," + t[3] + " " + t[4] %></td>
    </tr>
    <% } %>
  </tbody>

</table>
</container>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
    $("#table").DataTable({
       "pageLength": 25,
       "order": [ 2, 'DESC' ]
    });
  }, false);
</script>
